body
{
    margin:0;
    padding:0;
    background-color:#000000;
    color:aliceblue;
    font-family:Arial;
}

ul{
    display: flex;
    margin: 1% 0% 0% 25%;
    position: fixed;
}
li{
    position: relative;
    margin: 0px 10px 0px 20px;
    padding: 10px 30px 10px 30px;
    background-color: #44d62c;
    box-shadow: -1px 5px 20px #555;
    color: #000000;
    font-family: 'Bookman Old Style';
    font-size: 18px;
    -webkit-box-reflect: below 0 linear-gradient(transparent, #0001);
}

li:hover{
    background-color: aqua;
    transition: 1s;
    box-shadow: -1px 5px 20px #fff;
}
li:before{
    content:'' ;
    top: -2px;
    left: 0px;
    position: absolute;
    width: 5%;
    height: 5%;
    border-top: 4px solid #fff;
    border-left:4px solid #fff;
    transition: 1s; 
    width: 1%;
    opacity: 0;
}
li:hover::before{
    width: 95%;
    height: 95%;
    opacity: 1;
    
}
li::after{
    content:'' ;
    bottom: 0px;
    right: 0px;
    position: absolute;
    width: 5%;
    height: 5%;
    border-bottom: 4px solid #fff;
    border-right:4px solid #fff;
    transition: 1s; 
    width: 1%;
    opacity: 0;
}
li:hover::after{
    width: 95%;
    height: 95%;
    opacity: 1;
    
}
a{
    text-decoration:none; 
}

